body{
  color: rgb(240, 247, 246);
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 4px;
}

.main {
  position: absolute;
  margin-top: 60px;
  margin-left: 240px;
  padding: 0px 10px;
}

.title {
  font-size: 1.8em;
  color: #FFFFFF;
  font-weight: 600;
}

.btn-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4em;
  color: rgb(240, 247, 246);
  background-color: rgb(93, 97, 100);
  padding: 0px;
  margin: 0px;
  width: 220px;
}

.btn-link:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgb(135, 155, 165);
  border-color: transparent;
  font-weight: 700;
}

.dialog-content {
  width: 50%;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.top-nav{
  background-color: #41B3A3;
  position: fixed;
  margin: 0px; 
  padding: 4px; 
  padding-left: 12px;
}

.sidenav {
  height: auto;
  width: 240px;
  position: fixed;
  z-index: 1;
  left: 0;
  margin-top: 60px;
  overflow-x: hidden;
  padding: 4px;
}
