body{
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 4px;
}

.main {
  position: absolute;
  margin-top: 4%;
  padding: 0px 10px;
}

.title {
  font-size: 2.2vw;
  color: #eee;
  font-weight: 400;
}

.dialog-content {
  width: 60%;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.top-nav{
  position: fixed;
  margin: 0px; 
  padding: 2px; 
  padding-left: 10%;
  padding-right: 10%;
}

.sidenav {
  height: auto;
  width: 16%;
  position: fixed;
  z-index: 1;
  left: 0;
  margin-top: 4%;
  overflow-x: hidden;
  padding: 4px;
}

/* The checkbox-container */
.checkbox-container {
  border-radius: 4px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  border-radius: 4px;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-checkmark {
  border-radius: 4px;
  position: absolute;
  left: 0px;
  height: 22px;
  width: 22px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkbox-checkmark {
  background-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkbox-checkmark {
  background-color: #2196F3;
  border-style: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The radio-container */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-checkmark {
  position: absolute;
  margin:2px;
  left:0px;
  top:0px;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  background-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-color: #999;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  background-color: #2196F3;
  border-style: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio-checkmark:after {
top: 9px;
left: 9px;
width: 8px;
height: 8px;
border-radius: 50%;
background: white;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
background-color: rgba(22, 22, 24, 0.37);
width: 100%;
height: 100%;
z-index: -1000;
}

.modal-transition {
transition: all 0.4s ease;
}

.centered {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}