body {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li {
  margin: 4px;
}

.navbar-brand {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.top-nav {
  position: fixed;
  margin: 0px;
  padding: 2px;
  padding-left: 5%;
  padding-right: 5%;
  height: 40px;
  background-color: rgba(25, 25, 25, 0.75);
}

.side-nav {
  height: calc(100vh - 2rem);
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
  padding-bottom: 44px;
  margin-top: 40px;
  text-align: center;
  width: 200px;
  visibility: visible;
  opacity: 1;
  background-color: rgba(25, 25, 25, 0.55);
}

.checkbox-container {
  border-radius: 4px;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checkbox-container input {
  border-radius: 4px;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */

.checkbox-checkmark {
  border-radius: 4px;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* On mouse-over, add a grey background color */

.checkbox-container:hover input~.checkbox-checkmark {
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* When the checkbox is checked, add a blue background */

.checkbox-container input:checked~.checkbox-checkmark {
  background-color: #007bff;
  border-style: none;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.checkbox-container input:checked~.checkbox-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox-container .checkbox-checkmark:after {
  left: 9px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The radio-container */

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.radio-container input {
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

.radio-checkmark {
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 0px;
  height: 23px;
  width: 23px;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */

.radio-container:hover input~.radio-checkmark {
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* When the radio button is checked, add a blue background */

.radio-container input:checked~.radio-checkmark {
  background-color: #007bff;
  border-style: none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */

.radio-container input:checked~.radio-checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */

.radio-container .radio-checkmark:after {
  top: 9px;
  left: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.modal-body {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 22, 24, 0.37);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.modal-transition {
  transition: all 0.4s ease;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-card {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#upload-card,
#upload-json-card {
  background-color: rgba(30, 30, 30, 0.8);
  width: 40%;
}

@media only screen and (max-device-width: 480px) {
  #upload-card,
  #upload-json-card {
    width: 90%;
  }
  .top-nav {
    position: fixed;
    margin: 0px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    background-color: rgba(30, 30, 30, 0.6);
  }
}

.btn-space {
  margin-right: 10px;
  margin-bottom: 14px;
}

.btn-line {
  margin-bottom: 10px;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.24rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  content: "Browse";
  color: #fff;
  background-color: #007bff;
  border-left: 1px solid #ced4da;
  border-radius: 0 .2rem .2rem 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #495057;
  border-radius: .25rem;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 3px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;
  border-color: #007bff;
  width: 24px;
  height: 24px;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  border-style: solid;
  border-width: 6px;
  border-radius: 50%;
  border-color: #007bff;
  width: 24px;
  height: 24px;
  background: #fff;
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#existing-items {
  padding: 0px;
  margin: 0px;
}

.check_mark {
  width: 80px;
  height: 130px;
  margin: 0 auto;
}

.hide {
  display: none;
}

.sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sa-icon.sa-success {
  border-color: #4CAF50;
}

.sa-icon.sa-success::before,
.sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(76, 175, 80, .5);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
  border-color: transparent\9;
}

.sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}

.sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}

@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}

.sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #4CAF50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}

@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}